<html>
    <head>
        <title>Search Results</title>
    </head>
    <body>
        <h1>Searched book</h1>
        <p>Title: <%=searchResults.title%></p>
        <p>Author: <%=searchResults.author%></p>
    </body>
</html>